[Unit]
Description=Mapdata Global Services (Docker Compose)
Requires=docker.service
After=docker.service network-online.target
Wants=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/opt/services
ExecStart=/opt/services/scripts/start-mapdata-global-services.sh
ExecStop=/opt/services/scripts/stop-mapdata-global-services.sh
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target
